<ion-view>
	<ion-content data-tap-disabled="true">
		<ion-list>
      		<ion-item class="background-card">
      			<div class="row" style="height:20%">
      				<spam class='title-evento avatar'>{{evento.nome}}</spam>
      			</div>

      			<div class="row item-aligner" style="height:60%">

				    <img class="image-avatar" src="{{evento.img}}">

      			</div>

      			<div class="row" style="height:20%; margin-top:0">
      				<button class="button button-small button-positive button-partecipa" ng-show="partecipo==0" ng-click="partecipo=1">
					  <b>Partecipo</b>
					</button>

					<button class="button button-small non-partecipo button-partecipa" ng-show="partecipo==1" ng-click="partecipo=0">
					  <b>Non partecipo più</b>
					</button>
      			</div>

      		</ion-item>
	      	<ion-item class="tabs-card">
		        <ion-tabs class="tabs-striped tabs-color-positive tabs-icon-only">

		          <ion-tab title="Home" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" on-select="onTabSelected()">
		          </ion-tab>

		          <ion-tab title="Mappa" icon-on="ion-ios-location" icon-off="ion-ios-location-outline" on-select="onTabSelected()">
		          </ion-tab>

		          <ion-tab title="Partecipanti" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" on-select="onTabSelected()">
		          </ion-tab>

		        </ion-tabs>
	      	</ion-item>
      </ion-list>		
     
	    <ion-slide-box on-slide-changed="slideHasChanged($index)">
	      <ion-slide class="slidebox-full">
	        <div class="box slidebox-full">
	        	<div class="item item-icon-left no-border">
				    <i class="icon ion-clock"></i>
				    {{evento.quando.inizio}} - {{evento.quando.fine}}
			  	</div>

			  	<div class="item item-icon-left no-border">
				    <i class="icon ion-map"></i>
				    {{evento.luogo.via}}, {{evento.luogo.citta}}
			  	</div>

			  	<div class="item item-icon-left no-border">	
				    <i class="icon ion-android-clipboard"></i>
				    {{evento.descrizione}}
			  	</div>

	        </div>
	      </ion-slide>
	      <ion-slide class="slidebox-full">
	        <div class="box slidebox-full">
	        	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
	        		<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" closeClick="hideMarkerPopup()" onClicked="showMarkerPopup()">
 
          			</ui-gmap-marker> 

	        	</ui-gmap-google-map>
	        </div>
	      </ion-slide>
	      <ion-slide class="slidebox-full">
	        <div class="box slidebox-full">
	        <ion-list>
	        	<ion-item ng-repeat="partecipante in evento.partecipanti" href="#/app/singolapersona/{{partecipante.id}}" class="item item-avatar altezza-lista">

				      <img class="immagine-partecipante" src="{{partecipante.img}}">
				      <h2>{{partecipante.nome}} {{partecipante.cognome}}</h2>
				      <p>{{partecipante.stato}}</p>

	        	</ion-item>
	        </ion-list>
	        </div>
	      </ion-slide>
	    </ion-slide-box>
	</ion-content>
</ion-view>