<ion-view>
	<ion-content>
		<ion-list>
		  <ion-item ng-repeat="luogo in luoghi" class="item item-thumbnail-left">

			    <img src="{{luogo.img}}"></img>
			    <h2>{{luogo.nome}}</h2>
			    <p>{{luogo.posizione.via}}, {{luogo.posizione.citta}}</p>
			    
			    <span count-to="{{luogo.visitatori.length}}" value="0" duration="0.6" class= "numero-partecipanti">
      				
    			</span>
			    <span class="item-note">
      				Visitatori
    			</span>

		  </ion-item>
		</ion-list>
	</ion-content>
</ion-view>