<ion-view>
	<ion-content>
		<ion-list>
		  <ion-item ng-repeat="luogo in luoghi" class="item item-thumbnail-left" ui-sref="app.luogo({luogo: luogo.id})">

			    <img src="{{luogo.img}}"></img>
			    <h2>{{luogo.nome}}</h2>
			    <p>{{luogo.posizione.via}}, {{evento.posizione.citta}}</p>
			    
			    <span class= "numero-partecipanti">
      				{{luogo.visitatori.length}}
    			</span>
			    <span class="item-note ">
      				Visitatori
    			</span>

		  </ion-item>
		</ion-list>
	</ion-content>
</ion-view>