<ion-view>
	<ion-content>
		<ion-list>
		  <ion-item ng-repeat="persona in persone" class="item item-thumbnail-left" ui-sref="app.persona({persona: persona.id})">

			    <img class="image-avatar" src="{{persona.icon}}"></img>
			    <h2>{{persona.nome + ' ' + persona.cognome}}</h2>
			    <p>{{persona.genere}}</p>
			    <span class= "punti">
      				#{{persona.classifica.posizione}}
    			</span>
			    <span class="item-note borderForPartecipanti">
      				{{persona.classifica.punteggio}}
    			</span>

		  </ion-item>
		</ion-list>
	</ion-content>
</ion-view>