<ion-view>
	<ion-content>
		<ion-list>
		  <ion-item ng-repeat="evento in eventi" class="item item-thumbnail-left" ui-sref="app.evento({evento: evento.id})">

			    <img src="{{evento.img}}"></img>
			    <h2>{{evento.nome}}</h2>
			    <p>{{evento.luogo.via}}, {{evento.luogo.citta}}</p>
			    <p class= "orario">{{evento.quando.inizio}} - {{evento.quando.fine}}</p>
			    
			    <span count-to="{{evento.partecipanti.length}}" value="0" duration="0.6" class= "numero-partecipanti">
      				
    			</span>
			    <span class="item-note ">
      				Partecipanti
    			</span>


    			

		  </ion-item>
		</ion-list>
	</ion-content>
</ion-view>