/* Empty. Add your own CSS if you like */
.item-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.center{
	margin-left: auto;
	margin-right: auto;
	position: relative !important;
	position: b
}

/*Sovrascrittura css*/
.icon{
	color: #97CA49;
    border: 0 solid #ddd;
}

.tabs-striped.tabs-color-positive .tab-item.tab-item-active, .tabs-striped.tabs-color-positive .tab-item.active, .tabs-striped.tabs-color-positive .tab-item.activated {
    margin-top: -2px;
    color: #97CA49;
    border: 0 solid #97CA49;
    border-top-width: 2px;
}


h1, h2, h3, h4 { font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; }